In [1]:
from csv import excel
from bs4 import BeautifulSoup
import pandas as pd
import requests

codigo_ubs :str



# url  = "http://cnes2.datasus.gov.br/Exibe_Ficha_Estabelecimento.asp?VCo_Unidade=250400" + codigo_ubs + "&VListar=1&VEstado=25&VMun=250400"
# html = requests.get("http://cnes2.datasus.gov.br/Exibe_Ficha_Estabelecimento.asp?VCo_Unidade=2504002363240&VListar=1&VEstado=25&VMun=250400").content
# df = pd.read_html(html)
# localte = dict()

In [16]:
nome = df[2].iloc[1,2]

'AMBULATORIO DO II BPM'

In [40]:
endereço = df[2].iloc[6:8]
endereço.columns = endereço.iloc[0]
endereço = endereço.iloc[1] 
endereço

6
Complemento:                               NaN
Bairro:                               SAO JOSE
CEP:                                  58400414
Município:      CAMPINA GRANDE - IBGE - 250400
UF:                                         PB
NaN                                        NaN
Name: 7, dtype: object

In [2]:
ubs =  pd.read_excel(r'relação_ubs.xlsx')

In [3]:
ubs

,CNES,Estabelecimento,Município,CNPJ,CNPJ Mantenedora
0,7730802,AFRAFEP SAUDE SAMD,JOAO PESSOA,9.306242e+12,NaN
1,2606186,ALDERI GOMES FERNANDES USF III,BREJO DO CRUZ,NaN,8.767154e+12
2,2363240,AMBULATORIO DO II BPM,CAMPINA GRANDE,NaN,8.778268e+12
3,9911650,AMBULATORIO DO PRESIDIO REGIONAL DE ITABAIANA,ITABAIANA,NaN,9.072430e+12
4,9164405,AMBULATORIO MEDICO TRONOX PIGMENTO,MATARACA,1.511550e+13,NaN
...,...,...,...,...,...
1464,2363496,USF01 DINA EMILIA DE CARVALHO,SAO JOAO DO TIGRE,NaN,9.074592e+12
1465,2612933,USF02 CACIMBINHA,SAO JOAO DO TIGRE,NaN,9.074592e+12
1466,9469176,VIGILANCIA EM SAUDE,SOUSA,NaN,8.999674e+12
1467,6158420,VIGILANCIA SANITARIA,CATOLE DO ROCHA,NaN,9.067562e+12
1468,TOTAL,1468,NaN,NaN,NaN

In [4]:
(251740 - 250010)/10

173.0

In [5]:
locate = dict()
Municipio = 250010
for m in range(int((251740-Municipio)/10)):
    for i,row in ubs.iterrows():
        # print(row['CNES'])
        try:
            url  = "http://cnes2.datasus.gov.br/Exibe_Ficha_Estabelecimento.asp?VCo_Unidade="+ str(Municipio) + str(row['CNES']) + "&VListar=1&VEstado=25&VMun=" + str(Municipio)
            html = requests.get(url).content
            df = pd.read_html(html)
        except:
            Municipio= Municipio+10
            url  = "http://cnes2.datasus.gov.br/Exibe_Ficha_Estabelecimento.asp?VCo_Unidade="+ str(Municipio) + str(row['CNES']) + "&VListar=1&VEstado=25&VMun=" + str(Municipio)
            html = requests.get(url).content
            df = pd.read_html(html)
        try:
            endereço = df[2].iloc[6:8]
            endereço.columns = endereço.iloc[0]
            endereço = endereço.iloc[1] 
            locate.__setitem__(row['Estabelecimento'],endereço)
        except:
            pass
    Municipio= Municipio+10

In [104]:
locate['ESF I ALTO DO CRUZEIRO']

KeyError: 'ESF I ALTO DO CRUZEIRO'

In [85]:
from urllib.request import urlopen
import json

with urlopen('https://raw.githubusercontent.com/highcharts/map-collection-dist/master/countries/br/br-all.topo.json') as response:
    counties = json.load(response)

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/fips-unemp-16.csv",
                   dtype={"fips": str})

import plotly.express as px

In [67]:
df = pd.DataFrame(columns=['fips','unemp'])

In [102]:
counties['objects']['default']['geometries'][0]

{'type': 'MultiPolygon',
 'arcs': [[[0]], [[1, 2, 3, 4, 5]]],
 'id': 'BR.SP',
 'properties': {'hc-group': 'admin1',
  'hc-middle-x': 0.43,
  'hc-middle-y': 0.34,
  'hc-key': 'br-sp',
  'hc-a2': 'SP',
  'labelrank': '2',
  'hasc': 'BR.SP',
  'alt-name': None,
  'woe-id': '2344868',
  'subregion': None,
  'fips': 'BR32',
  'postal-code': 'SP',
  'name': 'São Paulo',
  'country': 'Brazil',
  'type-en': 'State',
  'region': None,
  'longitude': '-48.5206',
  'woe-name': 'São Paulo',
  'latitude': '-22.2267',
  'woe-label': 'Sao Paulo, BR, Brazil',
  'type': 'Estado'}}

In [75]:
for i in range(len(counties['features'])):
    df.loc[i,'fips'] = counties['features'][i]['properties']['id']
    df.loc[i,'unemp'] =i+1

In [76]:
df

   fips unemp
0     1     1
1     2     2
2     3     3
3     4     4
4     5     5
5     6     6
6     8     7
7     9     8
8    10     9
9    11    10
10   12    11
11   13    12
12   14    13
13   15    14
14   16    15
15   17    16
16   18    17
17   19    18
18   20    19
19   21    20
20   22    21
21   23    22
22   24    23
23   25    24
24   26    25
25   27    26
26    7    27

In [ ]:
fig = px.choropleth_mapbox(df, geojson=counties, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="south america",
                           labels={'unemp':'unemployment rate'}
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()